
<h3>Your account information:</h3>

<div ng-repeat="infos in info">

<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="orange">
                <i class="material-icons">attach_money</i>
            </div>
            <div class="card-content">
                <p class="category" >Money Earned</p>
                <h3 class="title">${{infos.moneyearned}}
                </h3>
            </div>
            <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">update</i> Just Updated
                    </div>
                </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="green">
                <i class="material-icons">assessment</i>
            </div>
            <div class="card-content">
                <p class="category">Ads Posted Today</p>
                <h3 class="title">{{infos.adsposted}}</h3>
            </div>
            <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">update</i> Just Updated
                    </div>
                </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="red">
                <i class="material-icons">account_circle</i>
            </div>
            <div class="card-content">
                <p class="category">People Reached</p>
                <h3 class="title">{{infos.peoplereached}}</h3>
            </div>
            <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">update</i> Just Updated
                    </div>
                </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="black">
                    <i class="material-icons">hourglass_empty</i> 
            </div>
            <div class="card-content">
                <p class="category">Pending Posts</p>
                <h3 class="title">{{infos.pendingposts}}</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">update</i> Just Updated
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="blue">
                        <i class="fa fa-facebook"></i>
                </div>
                <div class="card-content">
                    <p class="category" >Facebook Ads</p>
                    <h3 class="title">{{infos.facebook}}
                    </h3>
                </div>
                <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="purple">
                       <i class="fa fa-instagram"></i>
                </div>
                <div class="card-content">
                    <p class="category">Instagram Ads</p>
                    <h3 class="title">{{infos.instagram}}</h3>
                </div>
                <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="blue">
                        <i class="fa fa-twitter"></i>
                </div>
                <div class="card-content">
                    <p class="category">Twitter Ads</p>
                    <h3 class="title">{{infos.twitter}}</h3>
                </div>
                <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
            </div>
        </div>
   
    </div>


</div>

<h3>News on social networks:</h3>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header card-chart" data-background-color="white">
                <div class="ct-chart" id="dailySalesChart"></div>
                <img src="/assets/img/fb.jpeg">
            </div>
            <div class="card-content">
                <h4 class="title">Daily Sales</h4>
                <p class="category">
                    <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
            </div>
            
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header card-chart" data-background-color="white">
                <div class="ct-chart" id="emailsSubscriptionChart"></div>
                <img src="/assets/img/ig.jpg">
            </div>
            <div class="card-content">
                <h4 class="title">Email Subscriptions</h4>
                <p class="category">Last Campaign Performance</p>
            </div>
            
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header card-chart" data-background-color="white">
                <div class="ct-chart" id="completedTasksChart"></div>
                <img src="/assets/img/tw.jpg">
            </div>
            <div class="card-content">
                <h4 class="title">Completed Tasks</h4>
                <p class="category">Last Campaign Performance</p>
            </div>
            
        </div>
    </div>
</div>
<div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header card-chart" data-background-color="white">
                    <div class="ct-chart" id="dailySalesChart"></div>
                    <img src="/assets/img/fb1.jpg">
                </div>
                <div class="card-content">
                    <h4 class="title">Daily Sales</h4>
                    <p class="category">
                        <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                </div>
                
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header card-chart" data-background-color="white">
                    <div class="ct-chart" id="emailsSubscriptionChart"></div>
                    <img src="/assets/img/ig1.jpg">
                </div>
                <div class="card-content">
                    <h4 class="title">Email Subscriptions</h4>
                    <p class="category">Last Campaign Performance</p>
                </div>
                
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header card-chart" data-background-color="white">
                    <div class="ct-chart" id="completedTasksChart"></div>
                    <img src="/assets/img/tw1.jpg">
                </div>
                <div class="card-content">
                    <h4 class="title">Completed Tasks</h4>
                    <p class="category">Last Campaign Performance</p>
                </div>
                
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header" data-background-color="blue">
                <h4 class="title">Your connections</h4>
                <p class="category">See all your deals and connections!</p>
            </div>
            <div class="card-content table-responsive">
                <table class="table">
                    <thead>
                      <tr>
                        <th>User name</th>
                        <th>Topic</th>
                        <th>Description</th>
                        <th>Payment method</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="connection in connections">
                          <form>
                          <td>{{connection.user}}</td>
                          <td>{{connection.topic}}</td>
                          <td>{{connection.message}}</td>
                          <td> 
                              <select ng-model="payment" name="paymenttype" class="form-control" required>
                                <option value="" selected disabled hidden>{{connection.paymentmethod}}</option>
                                <option  value="Pay per Like">Pay per like</option>
                                <option value="Pay per view">Pay per view</option>
                                <option value="Pay per click">Pay per click</option>
                              </select>
                        </td>
                        <td class="td-actions text-right">
                                <button ng-click="addMethod(payment)" type="submit" rel="tooltip" title="Add" class="btn btn-success btn-simple btn-lg">
                                    ADD
                                </button>
                         </td>
                        </form>
                     </tr>
                   </tbody>
                  </table>
            </div>
        </div>
    </div>
       
</div>

<!--<div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header" data-background-color="green">
                    <h4 class="title">Your connections</h4>
                    <p class="category">Advertisers</p>
                </div>
                <div class="card-content table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th>Year</th>
                            <th>Month</th>
                            <th>Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="record in report">
                            <td>{{record._id.year}}</td>
                            <td>{{record._id.month}}</td>
                            <td>{{record.total}} BAM</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>-->


    <script type="text/javascript">
        /*     $(function(){				
                 $('#register').click(function(e){
                     e.preventDefault();
                     console.log('select_link clicked');
                     
                      $.ajax({
                         dataType: 'jsonp',
                         data: "data=addUser",						
                         jsonp: 'callback',
                         url: 'http://localhost:3200/register?callback=?',						
                         success: function(data) {
                             console.log('success');
                             console.log(JSON.stringify(data));
                         }
                     });
           var data = {};
           data.title = "title";
           data.message = "message";
           
           $.ajax({
             type: 'POST',
             data: JSON.stringify(data),
                 contentType: 'application/json',
                         url: 'http://localhost:80/register',						
                         success: function(data) {
                             console.log('success');
                             console.log(JSON.stringify(data));
                         }
                     });
      
                 });				
             });*/
         </script>