<!--<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">Simple Table</h4>
                <p class="category">Here is a subtitle for this table</p>
            </div>
            <div class="card-content table-responsive">
                <table class="table">
                    <thead class="text-primary">
                        <th>Name</th>
                        <th>Country</th>
                        <th>City</th>
                        <th>Salary</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Dakota Rice</td>
                            <td>Niger</td>
                            <td>Oud-Turnhout</td>
                            <td class="text-primary">$36,738</td>
                        </tr>
                        <tr>
                            <td>Minerva Hooper</td>
                            <td>Curaçao</td>
                            <td>Sinaai-Waas</td>
                            <td class="text-primary">$23,789</td>
                        </tr>
                        <tr>
                            <td>Sage Rodriguez</td>
                            <td>Netherlands</td>
                            <td>Baileux</td>
                            <td class="text-primary">$56,142</td>
                        </tr>
                        <tr>
                            <td>Philip Chaney</td>
                            <td>Korea, South</td>
                            <td>Overland Park</td>
                            <td class="text-primary">$38,735</td>
                        </tr>
                        <tr>
                            <td>Doris Greene</td>
                            <td>Malawi</td>
                            <td>Feldkirchen in Kärnten</td>
                            <td class="text-primary">$63,542</td>
                        </tr>
                        <tr>
                            <td>Mason Porter</td>
                            <td>Chile</td>
                            <td>Gloucester</td>
                            <td class="text-primary">$78,615</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card card-plain">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">Table on Plain Background</h4>
                <p class="category">Here is a subtitle for this table</p>
            </div>
            <div class="card-content table-responsive">
                <table class="table table-hover">
                    <thead>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Salary</th>
                        <th>Country</th>
                        <th>City</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Dakota Rice</td>
                            <td>$36,738</td>
                            <td>Niger</td>
                            <td>Oud-Turnhout</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Minerva Hooper</td>
                            <td>$23,789</td>
                            <td>Curaçao</td>
                            <td>Sinaai-Waas</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Sage Rodriguez</td>
                            <td>$56,142</td>
                            <td>Netherlands</td>
                            <td>Baileux</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Philip Chaney</td>
                            <td>$38,735</td>
                            <td>Korea, South</td>
                            <td>Overland Park</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Doris Greene</td>
                            <td>$63,542</td>
                            <td>Malawi</td>
                            <td>Feldkirchen in Kärnten</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Mason Porter</td>
                            <td>$78,615</td>
                            <td>Chile</td>
                            <td>Gloucester</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>-->

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card card-stats">
            <div class="card-header" data-background-color="orange">
                <i class="material-icons">account_box</i>
            </div>
            <div class="card-content card-content-left">
                <p class="category">Find your ideal advertiser!</p>
                <h3 class="title">Search for Advertisers</h3>
            </div>
            <div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="card card-stats">
                            
                            <div class="card-content">
                                <i class="material-icons">copyright</i>
                                <h3 class="title">Company Employing</h3>
                            </div>
                            <div class="card-footer">
                                    <input type="radio" ng-model="search.family"  value="facebook">Facebook</button>
                            </div>
                            <div class="card-footer">
                                    <input type="radio" ng-model="search.family"  value="instagram">Instagram</button>
                            </div>
                            <div class="card-footer">
                                <input type="radio" ng-model="search.family"  value="twitter">Twitter</button>
                            </div>
                            <div class="card-footer">
                                    <input type="radio" ng-model="search.family"  value="gmail">Gmail</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="card card-stats">
                            <div class="card-content">
                                    <i class="material-icons">pageview</i>
                                <h3 class="title">Interests</h3>
                            </div>
                            <div class="card-footer">
                                    <input type="text" ng-model="search.interests" name="interests" style="border: none; border-bottom: 0.5px solid;" ></button>
                             </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="card card-stats">
                            <div class="card-content">
                                    <i class="material-icons">location_city</i>
                                <h3 class="title">Location</h3>
                            </div>
                            <div class="card-footer">
                                    <input type="text" ng-model="search.location" name="location" style="border: none; border-bottom: 0.5px solid;" ></button>
                             </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="card card-stats">
                            <div class="card-content">
                                    <i class="material-icons">access_time</i>
                                <h3 class="title">Salary</h3>
                            </div>
                            <div class="card-footer">
                                    <input type="range" ng-model="search.age" name="age"  list="tickmarks">

                                    <datalist  id="tickmarks">
                                      <option value="0" label="0">
                                      <option value="10">
                                      <option value="22">
                                      <option value="30">
                                      <option value="40">
                                      <option value="50" label="50">
                                      <option value="60">
                                      <option value="70">
                                      <option value="80">
                                      <option value="90">
                                      <option value="100" label="100">
                                    </datalist>
                             </div>
                        </div>
                    </div>

                </div>

                <button type="submit" class="btn btn-primary pull-right" ng-click="find_provider(search)" style="background-color: blue; margin-right: 10px">Search</button>
                    

            </div>
        </div>
    </div>
</div>

<div ng-repeat="provider in providerssearch">


<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card card-stats">
                <div class="card-header" data-background-color="green">
                        <i class="material-icons">account_box</i>
                    </div>
            <div class="card-content card-content-left">
                <p class="category">Username</p>
                <h3 class="title">{{provider.username}}</h3>
            </div>
            <div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="card card-stats">
                            <div class="card-header" data-background-color="red">
                                    <i class="material-icons">favorite_border</i>
                            </div>
                            <div class="card-content card-content-left">
                                <p class="category">Family Status</p>
                                <h3 class="title">{{provider.familystatus}}</h3>
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <div class="card card-stats">
                                    <div class="card-header" data-background-color="blue">
                                            <i class="material-icons">location_city</i>
                                    </div>
                                <div class="card-content card-content-left">
                                    <p class="category">Location &emsp; &emsp;</p>
                                    <h3 class="title">{{provider.location}}</h3>
                                </div>
                                
                            </div>
                        </div>  

                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="card card-stats">
                                <div class="card-header" data-background-color="purple">
                                        <i class="material-icons">pageview</i>
                                </div>
                            <div class="card-content card-content-left">
                                <p class="category">Interests &emsp; &emsp;</p>
                                <h3 class="title">{{provider.interests}}</h3>
                            </div>
                            
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <div class="card card-stats">
                                    <div class="card-header" data-background-color="yellow">
                                            <i class="material-icons">access_time</i>
                                    </div>
                                <div class="card-content card-content-left">
                                    <p class="category">Age &emsp; &emsp;&emsp; &emsp;</p>
                                    <h3 class="title">{{provider.age}}</h3>
                                </div>
                                
                            </div>
                    </div>


                </div>

                <button type="submit" class="btn btn-primary pull-right" ng-click="showPromptProvider($event,provider)" style="background-color: blue; margin-right: 10px">Connect</button>
                  

            </div>
        </div>
    </div>
</div>

</div>


<script type="text/javascript">
    /*     $(function(){				
             $('#register').click(function(e){
                 e.preventDefault();
                 console.log('select_link clicked');
                 
                  $.ajax({
                     dataType: 'jsonp',
                     data: "data=addUser",						
                     jsonp: 'callback',
                     url: 'http://localhost:3200/register?callback=?',						
                     success: function(data) {
                         console.log('success');
                         console.log(JSON.stringify(data));
                     }
                 });
       var data = {};
       data.title = "title";
       data.message = "message";
       
       $.ajax({
         type: 'POST',
         data: JSON.stringify(data),
             contentType: 'application/json',
                     url: 'http://localhost:80/register',						
                     success: function(data) {
                         console.log('success');
                         console.log(JSON.stringify(data));
                     }
                 });
  
             });				
         });*/
     </script>