<div class="row" > 
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">Edit Profile</h4>
                <p class="category">Complete your profile</p>
            </div>
            <div class="card-content">
               
              <div ng-repeat="user in users">
                <form name="add_user_form">
                 
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group label-floating">
                                <label class="control-label">Username</label>
                                <input name="username" id="username" value="{{user.username}}" class="form-control" disabled ng-model="user.username">
                                <span ng-show="add_user_form.username.$touched && add_user_form.username.$invalid">The name is required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group label-floating">
                                <label class="control-label">Password</label>
                                <input name="password" class="form-control" value="*********" disabled  required minlength="4">
                                <span style="color:red" ng-show="add_user_form.username.$touched && add_user_form.username.$invalid">
                                  <span ng-show="add_user_form.password.$error.required">Password is required.</span>
                                  <span ng-show="add_user_form.password.$error.minlength">Password has to be at least 4 characters long.</span>
                                </span>
                            </div>
                        </div>
                        <!-- <div class="col-md-4">
                            <div class="form-group label-floating">
                                <label class="control-label">Email address</label>
                                <input type="email" name="email" ng-model="email" class="form-control" required>
                                <span style="color:red" ng-show="add_user_form.email.$dirty && add_user_form.email.$invalid">
                                  <span ng-show="add_user_form.email.$error.required">Email is required.</span>
                                  <span ng-show="add_user_form.email.$error.email">Invalid email address.</span>
                                </span>
                            </div>
                        </div>-->
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group label-floating">
                                <label class="control-label">Location</label>
                                <input type="text" class="form-control"  value ="{{user.location}}" ng-model="user.location">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group label-floating">
                                <label class="control-label">Age</label>
                                <input type="number" class="form-control" value="{{user.age}}" ng-model="user.age">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group label-floating">
                                <label class="control-label">Family Status</label>
                                <input type="text" class="form-control" value="{{user.familystatus}} " ng-model="user.familystatus">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">Interests</label>
                                    <input type="text" class="form-control" value="{{user.interests}}" ng-model="user.interests">
                                </div>
                            </div>
                        </div>
                    <button type="submit" class="btn btn-primary pull-right" ng-click="update(user)" >Update Profile</button>
                    <button type="submit" class="btn btn-primary pull-right" ng-click="delete_user(user._id)" style="background-color: red; margin-right: 10px">Delete Profile</button>
                    <div class="clearfix"></div>
                
                </form>
                
              </div>
            </div>
        </div>
    </div>
</div>

