<div class="wrapper">
    <div class="sidebar" data-color="red" data-image="../assets/img/sidebar-1.jpg">
        <div class="logo">
            <a href="#" class="simple-text">
                <img src="assets/img/logo1.png">
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li ng-class="getClass('/home')">
                    <a href="#!home" ng-click="menuItemClicked()">
                        <i class="material-icons">dvr</i>
                        <p>Home Page</p>
                    </a>
                </li>
                <li ng-class="getClass('/searchproviders')">
                    <a href="#!searchproviders" ng-click="menuItemClicked()">
                        <i class="material-icons">record_voice_over</i>
                        <p>Search for Advertiser</p>
                    </a>
                </li>
                <li ng-class="getClass('/searchusers')">
                    <a href="#!searchusers" ng-click="menuItemClicked()">
                        <i class="material-icons">contacts</i>
                        <p>Search for User</p>
                    </a>
                </li>
                <li ng-class="getClass('/user')">
                    <a href="#!user" ng-click="menuItemClicked()">
                        <i class="material-icons">person</i>
                        <p>Edit Profile</p>
                    </a>
                </li>
                <li>
                    <a href="#" ng-click="logout()">
                        <i class="material-icons">cancel</i>
                        <p>Logout</p>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" ng-click="openNavigationDrawer()">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"> Welcome User! </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Logout" ng-click="logout()">
                                <i class="material-icons">cancel</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div ng-view></div>
            </div>
        </div>
    </div>
</div>