<div class="wrapper" style="display: table; width: 100%">
    <div class="content" style="vertical-align: middle; display:  table-cell;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-xs-0">
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="card">
                        <div class="card-header" data-background-color="black">
                            <h4 class="title">Ad Picker</h4>
                            <p class="category">Log into your account</p>
                        </div>
                        <div class="card-content">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Username</label>
                                            <input type="text" ng-model="credentials.username" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Password</label>
                                            <input type="password" ng-model="credentials.password" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary pull-left" data-background-color="black" ng-click="login(credentials)">Login</button>
                                <button type="submit" class="btn btn-primary pull-right" data-background-color="black" ng-click="goReg()">Register</button>
                                
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-0">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    /*     $(function(){				
             $('#register').click(function(e){
                 e.preventDefault();
                 console.log('select_link clicked');
                 
                  $.ajax({
                     dataType: 'jsonp',
                     data: "data=addUser",						
                     jsonp: 'callback',
                     url: 'http://localhost:3200/register?callback=?',						
                     success: function(data) {
                         console.log('success');
                         console.log(JSON.stringify(data));
                     }
                 });
       var data = {};
       data.title = "title";
       data.message = "message";
       
       $.ajax({
         type: 'POST',
         data: JSON.stringify(data),
             contentType: 'application/json',
                     url: 'http://localhost:80/register',						
                     success: function(data) {
                         console.log('success');
                         console.log(JSON.stringify(data));
                     }
                 });
  
             });				
         });*/
     </script>