<div class="wrapper" style="display: table; width: 100%">
    <div class="content" style="vertical-align: middle; display:  table-cell;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-xs-0">
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="card">
                        <div class="card-header" data-background-color="black">
                            <h4 class="title">Ad Picker</h4>
                            <p class="category">Create your account</p>
                        </div>
                        <div class="card-content">
                            <form name="regForm">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Username</label>
                                            <input type="text" name="username" ng-model="credentials.username" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Password</label>
                                            <input type="password" ng-model="credentials.password" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Location</label>
                                            <input type="text" ng-model="credentials.location" class="form-control" required>
                                        </div>
                                    </div>  
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Age</label>
                                            <input type="number" ng-model="credentials.age" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Interests</label>
                                            <input type="text" ng-model="credentials.interests" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group label-floating">
                                            <div class="col-md-6"> <label class="control-label">Advertiser</label></div>
                                                <div class="col-md-4" style="position: relative;top: -22px;"> <input type="radio" name="type" ng-model="credentials.type" value="advertiser"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <div class="form-group label-floating">
                                            <div class="col-md-8"> <label class="control-label">Regular User</label></div>
                                                <div class="col-md-4" style="position: relative;top: -22px;"> <input type="radio" name="type" ng-model="credentials.type" value="regular" ></div>
                                        </div>
                                    </div>                   
                                </div>
                                <div class="row">
                                        <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <div class="col-md-6"> <label class="control-label">Family Status: </label></div>
                                                        <div class="col-md-4" style="position: relative;top: -22px;"> 
                                                            <select name="status" class="control-label" ng-model="credentials.family" required>
                                                                <option value="married">Married</option>
                                                                <option value="single">Single</option>
                                                                <option value="complicated">Complicated</option>
                                                                <option value="notdefined">Not Defined</option>
                                                              </select>
                                                            </div>
                                                </div>
                                        </div>
                                </div>

                                <button type="submit" class="btn btn-primary pull-left" data-background-color="black" ng-click="register(credentials)">Register</button>
                                <button type="button" class="btn btn-primary pull-right" data-background-color="black" ng-click="goLog()">Login</button>
                                <div class="clearfix"></div>
                            </form>

                        </div>
                    </div>
                     </div>
                <div class="col-md-4 col-xs-0">
                </div>
            </div>
        </div>
    </div>
</div>